        {% extends 'courses/base.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<head><link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>


<div class="container">
      <div class="row">
<div class="col-md-4">
    
     <h1>{{ request.user }}'s Children </h1>
            <h3>{% for child in children %} <a href='{% url 'grades:peer' username=child.user.id %}'>{{child}}</a> {% endfor %}</h3>
    
<!--
<div id="myButton">
    {% if futuregrades %}
<h1 >  {{futuregrades.count|add:"1"}} <small> /52</small> <img src="https://img.icons8.com/color/48/000000/diamond-heart.png"/ style="height:25px"> </h1> 
    <h5 > Apprentice.</h5>  
    {% endif %} 
    </div>
-->
    
    <br>

         <h1>{{ request.user }}'s Children's Certifications</h1>
    {% if certs %}{% for cert in certs %} {{cert.cert|safe}} <br> {% endfor %}{% else %}None, so far. <br> {% endif %} 
    <br>

        

        {% for grade in grades %}
            <h4>{{grade.lesson }}</h4>
            <li> Vocab: <big> {{grade.vocab}}</big> /10</li>
            <li> Grammar: <big> {{grade.grammar}} </big>/10</li>
            <li> Content:<big> {{grade.content}}</big>/10</li>
    {% endfor %}
    
    {% if futuregrades %}
        
    
    {% for grade in futuregrades %} 
        <h4>{{grade.lesson | safe}} attended by {{grade.student}}</h4> 
             <li> Critical Thinking: <big> {{grade.critical_thinking}}</big> /10</li>
             <li> Creativity: <big> {{grade.creativity}}</big> /10</li>
             <li> Communication: <big> {{grade.communication}}</big> /10</li>
             <li> Collaboration: <big> {{grade.collaboration}}</big> /10</li>
            <li> Leadership: <big> {{grade.leadership}}</big> /10</li>
            <li> Social and Cultural Awarness: <big> {{grade.social_cultural_awareness}}</big> /10</li>
    
    <br> <h5>Comments: </h5> <br>
    {{ grade.comments }}

    
    {% endfor %}
    
    {% else %}
    None, so far. <a href="{% url 'courses:futurelist' %}">Start a lesson and hand in work to get scored. </a>
    
    {% endif %}

</div>    

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div class="col-md-8">
 
<!--
{% if futuregrades %}


<canvas id="radar-chart" width="30%" height="20%"></canvas>
<canvas id="line-chart" width="30%" height="20%"></canvas>
{% endif %}
    
-->

<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [{% for grade in futuregrades %}'{{grade.lesson }}', {% endfor %}],
      datasets: [{ 
        data:[{% for grade in futuregrades %}{{grade.critical_thinking}},{% endfor %}],
        label: "Critical Thinking",
        backgroundColor: "red",
        borderColor: "red",
        fill: false
      }, 
                 { 
        data: [{% for grade in futuregrades %}{{grade.creativity}},{% endfor %}],
        label: "Creativity",
        borderColor: "orange",
        backgroundColor: "orange",
        fill: false
      }, { 
        data: [{% for grade in futuregrades %}{{grade.communication}},{% endfor %}],
        label: "Communication",
        borderColor: "purple",
        backgroundColor: "purple",
        fill: false
      },
     { 
        data: [{% for grade in futuregrades %}{{grade.collaboration}},{% endfor %}],
        label: "Collaboration",
        borderColor: "green",
        backgroundColor: "green",
        fill: false
      }, { 
        data: [{% for grade in futuregrades %}{{grade.leadership}},{% endfor %}],
        label: "Leadership",
        borderColor: "blue",
        backgroundColor: "blue",
        fill: false
      }, { 
        data: [{% for grade in futuregrades %}{{grade.social_cultural_awareness}},{% endfor %}],
        label: "Social & Cultural Awareness",
        borderColor: "pink",
        backgroundColor: "pink",
        fill: false
      }           ]},

  options: {
    title: {
      display: true,
      text: 'Grades'
    }
  }
});

    
   
</script>

    
    
<script>
new Chart(document.getElementById("radar-chart"), {
  type: 'radar',
    data: {
      labels: ["Critical Thinking", "Creativity", "Communication", "Collaboration", "Leadership", "Social & Cultural Awareness"],
      datasets: [
        {
          label: "{{request.user}}",
          fill: true,
          backgroundColor: "rgba(255,99,132,0.2)",
          borderColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(255,99,132,1)",
          data: [{{critical_thinking}}, {{creativity}},{{communication}},{{collaboration}}, {{leadership}}, {{social_cultural_awareness}},]
        },
          {
          label: "Platform average",
          fill: true,
          backgroundColor: "rgba(128, 128, 128, 0.2)",
          borderColor: "rgba(71, 70, 70,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(71, 70, 70,1)",
          data: [ {{avgct}}, {{avgcreativity}},  
    {{avcomm}}, {{avcollab}}, {{avlead}}, {{avaware}}
,]
        },
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Platform Average Distribution of Talent'
      }
    }
});
    
    
    
              


</script>
    
</div>    
    </div>

</div>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
      // With the above scripts loaded, you can call `tippy()` with a CSS
      // selector and a `content` prop:
      tippy('#myButton', {
        content: 'Collect hearts as you do more lessons and level up!',
        placement: 'right-start',

      });
    </script>

<!--
      <div class="col-sm-4 col-md-4">
        
            <h4>Current English Membership: </h4>
            {% if user_eng_sub != None %}
                {% if user_eng.englishmembership.english_membership_type == 'No Smile School English' %}
            <h4>
                <p style="color:red">No subscription. Please consider joining us. </p>
                {% else %}
                {{ user_eng.englishmembership.english_membership_type }} </h4>
            <small>Since {{user_eng_sub.get_created_date}} </small>
            
            {% if user_eng_sub.active != False %}
                <p>Next payment due: {{ user_eng_sub.get_next_billing_date}} </p>
            {% endif %}
            {% endif %}
            {% else %}
                <p style="color:red">No subscription. Please consider joining us. </p>
            <br> 
            
        {% endif %}
            <a href="{% url 'studentmemberships:selectengstudentmem' %}"> Change membership </a>
            
        </div>
        <div class="col-sm-4 col-md-4">
        <h4>Current Future Membership: </h4>
            {% if user_future_sub != None %}
                {% if user_future.futuremembership.future_membership_type == 'No Smile School English' %}
            <h4>
                <p style="color:red">No subscription. Please consider joining us. </p>
                {% else %}
                {{ user_future.futuremembership.future_membership_type }} </h4>
            <small>Since {{user_future_sub.get_created_date}} </small>
            
            {% if user_future_sub.active != False %}
                <p>Next payment due: {{ user_future_sub.get_next_billing_date}} </p>
            {% endif %}
            {% endif %}
            {% else %}
                <p style="color:red">No subscription. Please consider joining us. </p>
            <br> 
            
        {% endif %}   
            <a href="{% url 'studentmemberships:selectfutstudentmem' %}"> Change membership </a>
            
        </div>
    </div>


</div>

-->

        

  
{% endblock %}
