{% extends 'courses/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <body>
        <h1>English Courses</h1>
        <p style="text-align:center;">
                <img  src="{% static "classroom.png" %}" style="height:300px;"/>
    </p>
 
            {% for object in object_list %}
                <h2><a href="{{ object.get_absolute_url }}"> {{ object.title|safe }} </a> </h2> 
                <h3>{{ object.description|safe }}</h3><br><br>
            {% endfor %}                                                    
</div>                                                                                  
{% endblock %}
   
     
    


