{% extends 'courses/base.html' %}

{% block content %}
<div class="container">
    <head><title>Future Course List</title></head>

<style>

    .lessoncontent{
        padding-bottom:15px;
        padding-top: 5px;
    }
    
    .vertical-center {
      min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
      min-height: 100vh; /* These two lines are counted as one :-)       */
      
      display: flex;
      align-items: center;
    
    }         

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
   {% load static %}
    {% load i18n %}
        
    {% if object != None %}
        <div class='lessoncontent'>
         <h1 style="display:inline; padding-right:10px;"> {{ object.title|safe }}</h1>  {{object.position}}/<small>52</small>  

            {% if request.user.studentmembership.futuretutor.user_id %} <h4 class="float-right"> Your tutor is <a href="{% url 'tutors:profile' request.user.studentmembership.futuretutor.user_id %}">{{request.user.studentmembership.futuretutor}}  </a>  </h4> {% endif %}
            <br> 
        </div> 
        
        <div class='lessoncontent border-top'> <h3><i class="fa fa-map-signs" aria-hidden="true"></i> Class Description  <small>The map. Read me first. </small>  </h3>
       <p style="font-size:18px;"> {{ object.description|safe }} </p>  <br>   
        
            </div> 
 
        <div class='lessoncontent border-top'>  <h3><i class="fa fa-play" aria-hidden="true"></i> Lecture  <small> Lecture. Try not to fall asleep. </small> </h3>        
            {% if object.video_url != "n/a" %} <a href ="{{object.video_url}}">Link to video</a><br> {% endif %}
<!--            <iframe src='{{object.video_url}}'> </iframe> -->
        </div> 

        {% if object.readinglist_url != "n/a" %}
        <div class='lessoncontent border-top'> <h3><i class="fa fa-book" aria-hidden="true"></i>  Notes  <small> Cheat sheet. Summary of our lesson content. </small> <br> </h3>
            <a href ="{{object.readinglist_url}}"> <p style="font-size:18px;">{{object.readinglist_url}}</p> </a>
        </div>
        {% endif %}
        
        {% if object.assignment != "n/a" %}
        <div class='lessoncontent border-top'>  <h3><i class="fa fa-pencil" aria-hidden="true"></i> Assignment <small> Do this, if you want to. </small> <br> </h3>
            
                 <p style="font-size:18px;">{{ object.assignment|safe  }}</p>  <br> 
    </div>
    {% endif %}
    
    {% if object.parentstips != "n/a" %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h3 class="alert-heading" style="color:black"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> {% trans "Parent's Tips" %} <small> {% trans "We're a team. Together, we help your child." %}  </small> </h3>
<hr>
        <p class="mb-0" style="font-size:18px; color:black;"> {{ object.parentstips|safe }}</p>
        
        </div>
     {% endif %}
</div>
<!--        <a href='{% url 'grades:futurehwupload' %}'>Hand in work</a> <br>-->
<!--        <a href='{% url 'grades:grades' %}'>Grades</a> <br>-->
        

        
        {% else %}
        
        <div class="h-100 row align-items-center">
  <div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-6 col-md-offset-3 vertical-center " >
            <h3> You don't have a membership. Please <a href='{% url "studentmemberships:profile" %}' > upgrade your membership. </a> </h3>
        </div>
    </div>
</div>

            
        
        {% endif %}
        
</div>

{% endblock %}

