{% extends 'courses/base.html' %}

{% block content %}
<div class="container">
    <head><title>Future Course Detail</title></head>
    <body>
        <h1> {{ object.title |safe }} </h1>
            <h3>{{ object.description|safe }} </h3><br><br>

            {% for lesson in object.futurelessons %}
             <h2> <a href="{{ lesson.url }}"> {{lesson.title|safe}}</a> </h2>  
            {{ lesson.lesson_url }}
            {% endfor %}
    
{% endblock %}
        </div>
    </body>    

    
</html>
