<div class="container">
	<div class="row">
		<h1>{{ name }}'s Profile</h1>
		<div class="col-sm-4 col-md-4">
			{% if student_membership != None %}
				<h4>{% trans "Current Membership: " %}  {{ student_membership.membership.membership_type }} <small>since {{ student_subscription.get_created_date }}</small></h4>

				{% if student_subscription.active != False %}
					<p> {% trans "Next payment due:" %}   {{ student_subscription.get_next_billing_date }}</p>

				{% else %}
					<p> {% trans "You don't have an active membership plan. Check them out here." %} 
						
					</p>
				{% endif %}
            {% else %}
                <p>{% trans " No subscriptions at all." %}   </p> 
			{% endif %}
		</div>
	</div>
</div>	

