<!DOCTYPE html>
    {% load i18n %}
{% load static %}

<html>
	<head>

        <link rel="shortcut icon" type="image/png" href="{% static 'red-paper-plane.png' %}"/>
        <title>Praxeum</title>
	<!-- Latest compiled and minified CSS -->
<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">


<style>
       
button.flag {
  background: none!important;
  border: none;
  padding: 0!important;
  color: none;
}
 ol.breadcrumb li{
        color: #000000;   
         font-size:20px; 
         background-color:transparent;
    }
    
ol.breadcrumb li a {
         color: #778899;   
         font-size:20px; 
         background-color:transparent;
        }

.breadcrumb > li + li:before {
/*
    color: #ccc;
    content: " ";
    padding: 0 5px;
*/
}

   
</style> 
<script type="text/javascript">window.$sleek=[];window.SLEEK_PRODUCT_ID=111;(function(){d=document;s=d.createElement("script");s.src="https://client.sleekplan.com/sdk/e.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>                
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    
    

<body>
	{% include 'courses/messages.html' %}
    
<!-- navigation bar -->
	
<!--<script src="https://use.fontawesome.com/ebae4c6b9c.js"></script>-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">




<ol class="breadcrumb" >
			<li><a href = "{% url 'homepages:index' %}"><img src="{% static 'logo.png' %}"  style="height:40px;"></a><span class="badge badge-danger badge-secondary">Beta</span> 
                </li>

<!--   <li> <a href="{% url 'homepages:joinus' %}">{% trans "Join our team" %} </li></a>-->
            {% if request.user.is_authenticated %}
<!--        <i class="fa fa-rocket"></i> -->
    <li ><a href = '{% url 'studentmemberships:profile' %}'>{% trans "Profile" %}</a>  </li>
            <li><img src="{% static 'red-paper-plane.png' %}" style="height:20px;">  <a href = '{% url 'courses:futurelist' %}'>{% trans "Courses" %}</a></li>
    
<!--                <li><i class="fa fa-bookmark" aria-hidden="true"></i>-->
 <li><a href = '{% url 'vocab:vocab_list' %}'> {% trans "Vocabulary List" %} </a></li>
    
            
<!--
			{% block post_detail_link %}
			{% endblock %}
-->
			




            <li class='ml-auto'><a href='{% url 'homepages:signout' %}'> <i class="fa fa-sign-out" aria-hidden="true"></i>
 </a></li>
            
            {% else %}
			<li class='ml-auto'><a href='{% url 'homepages:signin' %}'> {% trans " Sign In " %} </a> 
     or <a href="{% url 'homepages:signup' %}">{% trans "REGISTER FOR A FREE TRIAL" %}  </a></li>
			{% endif %}
<!--        <li ><a href=#>🇬🇧 🇨🇳</a></li>-->

    <form action="{% url 'set_language' %}" method="post" style="padding-left:10px;">
            
    {% csrf_token %}
                
            <li class='ml-auto'>
                <button class="flag"  type="submit" name="language"
                        value="en">
                   🇬🇧
                </button>
                
            </li>
        
    
</form>
    
<form action="{% url 'set_language' %}" method="post" style="padding-left:10px;">
            
    {% csrf_token %}
                
            <li class='ml-auto'>
                <button class="flag" type="submit" name="language" value="zh-hans">
                   🇨🇳
                </button>
            </li>
        
    
</form>

		</ol>
    
  {% block postman_menu %}

{% endblock %}  

    
<!-- block content -->
	{% block content %}
	{% endblock content %}
    
	

    
<!-- jquery + Bootstrap -->
    

    
	<script
	  src="https://code.jquery.com/jquery-3.4.1.js"
	  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	  crossorigin="anonymous"></script>


	<!-- Latest compiled and minified JavaScript  -->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" >



</body>
</html>