
{% extends 'courses/base.html' %}
<!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->

{% block content %}

{% load static %}
<head>
   
</head>

<!--Start of Tawk.to Script-->
<!--End of Tawk.to Script-->

{% load i18n %}   

<div class="container">
<h1>Traction </h1>
<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTBay4X2azeizjtkcy4q7tJbh0aN8WvQ4YeZOTe73E8Z51SPWWK-92d8K1tF66ENPE0w8GXOxbawAGq/pubchart?oid=2049623362&amp;format=interactive"></iframe>
    <!-- Calendly inline widget end -->
    
<!-- Footer -->
{% include 'courses/footer.html' %}
<!-- Footer -->  
{% endblock %}

